@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.font-roboto-medium {
  font-size: 16px;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.sect-sidebar {
  grid-area: sidebar;
  color: white;
  background-color: #427132;
}

.sect-main {
  grid-area: main;
  max-height: 100vh;
  overflow-y: scroll;
}

.sect-footer {
  grid-area: footer;
  align-content: center;
  color: white;
  background-color: #645c51;
}

.grid-body {
  display: grid;
  grid-template-areas:
    "sidebar sidebar sidebar sidebar"
    "main main main main"
    "footer footer footer footer";
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.mt-mb-sidebar {
  margin-top: 18px;
  margin-bottom: 23px;
}

.filter-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.font-filter-sidebar {
  font-size: 17px;
  font-style: normal;
}

.categories-father {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

li {
  list-style: none;
}

.footer-father-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.text-weight-footer {
  font-weight: 500;
}

.button-categories {
  border: none;
  border-radius: 0px;
  height: 2rem;
  cursor: pointer;
  color: white;
  background-color: #427132;
  transition: all 300ms ease-out;
  .a-categories {
    text-decoration: none;
    cursor: pointer;
    color: white;
  }
}

.button-categories:hover {
  background-color: #ffffff;
  height: 3rem;
  color: #000000;
  font-weight: bold;
  .a-categories {
    color: #000000;
    font-weight: bold;
  }
}

.a-footer {
  text-decoration: none;
}

.grid-main {
  display: grid;
  column-gap: 25px;
  row-gap: 10px;
  padding: 10px;
}

.card-fut {
  max-height: 217px;
  max-width: 300px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 500ms;
  filter: grayscale(100%);
}

.card-fut:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.img-card-fut {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-main-father {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.title-grid-main {
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 576px) {
  .grid-body {
    grid-template-areas:
      "sidebar main main main"
      "footer main main main";
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
  }

  .d-icon-bars {
    display: none;
  }

  .footer-father-principal {
    gap: 15px;
  }

  .mt-10 {
    margin-top: 10px;
  }

  .mb-10 {
    margin-bottom: 10px;
  }

  .footer-desktop {
    max-width: 210px;
    text-align: center;
  }

  .grid-main {
    grid-template-columns: auto auto auto;
  }

  .father-sidebar-principal {
    margin-right: 15px;
    margin-left: 15px;
  }

}

@media (max-width: 576px) {
  .d-none {
    display: none !important;
  }

  .mt-15 {
    margin-top: 15px;
  }

  .mb-15 {
    margin-bottom: 15px;
  }

  .father-sidebar-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filter-sidebar {
    justify-content: flex-start !important;
  }

  .ml-filter-sidebar {
    margin-left: 15px;
  }

  .mr-filter-sidebar {
    margin-right: 15px;
  }

  .footer-father-principal {
    gap: 5px;
  }

  .grid-main {
    grid-template-columns: auto;
    min-height: 375px;
    justify-content: center;
  }
}
